[submodule "cryptocompare"]
	path = cryptocompare
	url = https://github.com/XorfacX/cryptocompare.git
[submodule "mpl_finance"]
	path = mpl_finance
	url = https://github.com/XorfacX/mpl_finance.git
[submodule "TechnicalIndicators"]
	path = TechnicalIndicators
	url = https://github.com/XorfacX/Technical-Indicators.git
[submodule "submodules/ccxt"]
	path = submodules/ccxt
	url = https://github.com/ccxt/ccxt.git
[submodule "submodules/mpmath"]
	path = submodules/mpmath
	url = https://github.com/fredrik-johansson/mpmath.git
