[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arctic = "*"
click = "*"
trio = "*"
mypy = "*"
spyder = "*"
cryptocompare = "*"
pykrakenapi = "*"

[dev-packages]

[requires]
python_version = "3.7"
