[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arctic = "*"
click = "*"
click-repl = "*"
click-datetime = "*"
mypy = "*"
spyder = "*"
#cryptocompare = "*"
pykrakenapi = "*"
pandas = "*"
asks = "*"
pytest = "*"
mocket = "*"
matplotlib = "*"
requests = "*"
plotly = "*"
#influxdb = {editable = true,git = "ssh://git@github.com/asmodehn/influxdb-python.git",path = "."}
#pystore = "*"
#pint = "*"
ptterm = "*"
#vulcano = "*"
black = "*"
pydantic = "*"
hypothesis = "*"
structlog = "*"
#parameterized = "*"
marshmallow = ">=3.0.0rc7"
typeguard = "*"
marshmallow-dataclass = ">=6.0.0rc3"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
