[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arctic = "*"
click = "*"
mypy = "*"
spyder = "*"
#cryptocompare = "*"
pykrakenapi = "*"
pandas = "*"
asks = "*"
pytest = "*"
mocket = "*"
matplotlib = "*"
requests = "*"
plotly = "*"
click-repl = "*"

[dev-packages]

[requires]
python_version = "3.7"
